/* Fonts */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

/* Header Background */
.header {
    background-image: url("../B12A01-landing-launchpad/Assets/Hero-bg.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    min-height: 100vh;
}

/* Viewer Text Colors */
.text-style {
    color: #0A73FD;
}

/* Buttons */
.btn {
    background-color: #4f46e5;
    font-weight: 700;
    color: white;
    border: none;
    padding: 12px 26px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #3730a3;
}

/* Navbar Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 120px;
}

.nav-titel {
    font-weight: 800;
    font-size: 32px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

/* New Banner Section */
.banner-centered {
    text-align: center;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-heading {
    font-size: 40px;
    font-weight: 800;
    color: #1f1f1f;
    margin-bottom: 30px;
    line-height: 1.4;
}

.focus-btn {
    padding: 14px 30px;
    font-size: 16px;
}

/* action */

.preview-section {
    background-color: #f6f8fe;
    padding: 80px 120px;
}

.preview-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.preview-text {
    max-width: 500px;
}

.preview-title {
    font-size: 28px;
    font-weight: 800;
    color: #1f1f1f;
    margin-bottom: 16px;
}

.preview-desc {
    font-size: 16px;
    color: #6b7280;
    margin-bottom: 24px;
    line-height: 1.6;
}

.preview-btn {
    background-color: #4f46e5;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 6px;
    font-weight: 600;
}

.preview-image img {
    max-width: 420px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}